@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

#signin-container{
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 15px;
  background-color:#e8e8e8;
  border:solid;
  border-color:#c1c1c1;
  padding:3px;
}

#game-container{
  position: relative;
}
